@page "/FAQ"
<PageTitle>F.A.Q. | CPTC Programming</PageTitle>
<h3>FAQ</h3>
<hr />

<div class="questions">
    <div class="question"><span class="oi oi-chevron-right"></span>Salary?</div>
    <div class="answer">
        Our typical graduates with our AAT degree and no industry experience usually start between 40k and 75k.
        The median hourly wage for CPW grads is $23.51 (Most recent data is 2019 - 2022).
        Salary is wide ranging and depends on factors such as student programming skills, location of employment,
        and interviewing skills. Salaries go up after gaining industry experience.
    </div>
    <div class="question"><span class="oi oi-chevron-right"></span>Cost?</div>
    <div class="answer">
        The total cost for a Washington State resident for the AAT degree is about $13,000. 
        This includes tuition, fees, and books. 
        Check out the official <a target="_blank" href="https://services.cptc.edu/feelists/CMPTR%20PROG%20AAT.pdf">CPTC fee list</a>
        for up-to-date information.<br />
        You will not need to purchase any software for our program. It can either be obtained for free or will 
        be provided to you by the program faculty
    </div>
    <div class="question"><span class="oi oi-chevron-right"></span>Program Length?</div>
    <div class="answer">
        It takes 6 quarters of programming classes (3 classes each quarter) plus an additional 18 
        credits of general education courses which can be taken concurrently with programming courses. 
        Our program also expects students to attend Summer quarter
        <ul>
            <li><a target="_blank" href="https://github.com/SpeakingInBits/CPW-ProgramSite-Blazor/blob/master/CPW%20AAT%202024.pdf">Draft document for CPW AAT 2024</a></li>
        </ul>
    </div>
    <div class="question"><span class="oi oi-chevron-right"></span>Course Delivery?</div>
    <div class="answer">
        The CPW program teaches in a hybrid flexible format. Students have the choice of attending our scheduled classes and labs
        in person, or online via Zoom
        We utilize the Canvas LMS (learning management system) to keep track of grades, assignments, resources, etc. 
        We use tools like Zoom, Discord, and VS Code Live Share to create a great remote experience, and deliver
        curriculum and help students troubleshoot just as well as on campus.
    </div>
    <div class="question"><span class="oi oi-chevron-right"></span>Employment Opportunities?</div>
    <div class="answer">
        For Computer Programming students there are many different opportunities in the industry. 
        Our typical graduate usually starts out as a Web Developer using .NET technologies.
        Some job titles include
        <ul>
            <li>Software Developer (C# or Java)</li>
            <li>Software Developer in Test</li>
            <li>ASP.NET Developer</li>
            <li>.NET Developer</li>
            <li>Database Programmer</li>
        </ul>
    </div>
    <div class="question"><span class="oi oi-chevron-right"></span>Curriculum?</div>
    <div class="answer">
        Our program covers many topics including: building modern responsive websites, 
        building desktop applications, software security, object-oriented programming, 
        phone app development, and more, all while gaining hands on experience using professional tools.
    </div>
    <div class="question"><span class="oi oi-chevron-right"></span>Is this for me?</div>
    <div class="answer">
        If you like technology and computers in general then programming is definitely an option to consider. 
        You don't have to be a math whiz but students who do well in math typically grasp programming quicker. 
        Our industry also changes frequently so this field is great for people who like to learn continously.
        Programming is hard and does take quite a bit of effort to learn. That is why having an instructor
        to help you troubleshoot and ask questions is so critical to your success in this industry. If you put
        in the effort to learn programming and ask questions, you will be successful!
    </div>
</div>


@code {

}
