@page "/LangsAndTools"

<PageTitle>Languages and Tools | CPTC Programming</PageTitle>

<h3>Languages Covered</h3>
<ul>
    <li>HTML &amp; CSS</li>
    <li>JavaScript/TypeScript</li>
    <li>SQL</li>
    <li>C#</li>
    <li>Python</li>
    <li>Java</li>
    <li>Kotlin (for Android Development)</li>
    <li>C++</li>
</ul>

<h4>Which language is the best?</h4>
<p>
    There is no "best" language. All languages have their pros/cons and may be more suitable in certain situations. We cover
    a variety of languages in our program to teach several in-demand languages and expose students to different language syntax and programs.
    After learning the concepts of these languages, students will have the skills to learn and use other languages without too much difficulty.
</p>
<hr />

<h3>Professional Tools</h3>
<ul>
    <li>Visual Studio</li>
    <li>Visual Studio Code</li>
    <li>SQL Server</li>
    <li>SQL Server Management Studio or Azure Data Studio</li>
    <li>Android Studio</li>
</ul>
<p>
    In addition to the tools listed above we also use other tools for academic purposes. We use the professional tools listed to get students
    experience with various professional tools that many jobs use in the industry. This also makes it easier to switch to another tool
    if the company uses something different. Many programming tools have the same or very similar functionality.
</p>
<hr />

<h3>Platforms</h3>
<ul>
    <li>GitHub</li>
    <li>Microsoft Azure</li>
</ul>
<h4>What is GitHub?</h4>
<p>
    <a href="https://github.com">GitHub</a> is a collaborative platform that allows professionals to work in teams and utilize a process known
    as Source Control or Version Control. Source control allows developers to keep track of all changes that have been made to our files,
    work on features simultaneously, fix bugs and roll out patches quickly, and work in teams effectively. As we get more advanced we can
    take advantage of GitHub features like automation and security to make us more productive and roll out fixes and features
    faster than our competition.
</p>
<h4>What is Microsoft Azure?</h4>
<p>
    We use Microsoft's cloud platform Azure to get some experience with cloud platforms and some technologies they offer.
    Utilizing free student credits, students host their portfolio applications in the cloud.
</p>