@page "/Links"
<PageTitle>Links | CPTC Programming</PageTitle>
<h2>Career Conference 2023</h2>
<hr />

<h3>AI APIs</h3>
<p>
    Below are a few examples of AI/machine learning APIs that can be integrated into 
    your own software
</p>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a target="_blank" href="https://scribblediffusion.com/">Scribble Diffusion</a></h5>
                <p class="card-text">Use the power of AI to turn a sketch into a great piece of artwork with text prompts!</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a target="_blank" href="https://chat.openai.com/">ChatGPT</a></h5>
                <p class="card-text">ChatGPT. Accelerate your productivity with conversational AI</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="https://www.bing.com/create" target="_blank">Bing Image Creator</a></h5>
                <p class="card-text">Create images with text prompts</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="https://www.donkeycar.com/" target="_blank">Open Source Donkey Car project</a></h5>
                <p class="card-text">DIY self driving platform for RC cars</p>
            </div>
        </div>
    </div>
</div>
<hr />


<h3>Gaming</h3>
<p>
    Below are a few examples of games built with various technologies
</p>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a target="_blank" href="https://shootr.azurewebsites.net/">ShootR</a></h5>
                <p class="card-text">This game is built with web technologies and uses Web Sockets for real-time communication
                    directly in your browser
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a target="_blank" href="https://krunker.io/">Krunker.io</a></h5>
                <p class="card-text">This game is written in JavaScript and plays directly in the browser</p>
            </div>
        </div>
    </div>
</div>
<hr />

<h3>In our real world</h3>
<p>
    Technology in our daily lives
</p>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a target="_blank" href="https://www.youtube.com/watch?v=-4RBWACdHLU">Amazon GO</a></h5>
                <p class="card-text">
                    Amazon has stores that have no Cashiers in Washington State
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a target="_blank" href="https://www.tinkercad.com/circuits">TinkerCAD Electronics</a></h5>
                <p class="card-text">
                    TinkerCAD lets you design and program circuits!
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What else?</h5>
                <p class="card-text">
                    Payment processing, websites, mobile applications, robotics, VR/AR, and more!
                    Software powers our world
                </p>
            </div>
        </div>
    </div>
</div>
<hr />


<h3>API's and Services for Developers</h3>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="https://azure.microsoft.com/en-us/services/cognitive-services" target="_blank">Azure Cognitive Services - Machine learning and AI services</a></h5>
                <p class="card-text">
                    Microsoft Azure Cognitive services has machine learning services you
                    can pay and use in your applications
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="https://www.twilio.com/" target="_blank">Twilio - SMS &amp; SMTP service</a></h5>
                <p class="card-text">
                    Text messaging and Email services for your applications, pay by usage
                </p>
            </div>
        </div>
    </div>
</div>