@page "/Links"

<h2>Links</h2>
<hr />

<h3>Gaming</h3>
<ul>
    <li>
        <a href="https://youtu.be/EWANLy9TjRc" target="_blank">Crackdown 3 - Physics processing in the cloud</a>
    </li>
</ul>

<h3>API's and Services</h3>
<ul>
    <li>
        <a href="https://azure.microsoft.com/en-us/services/cognitive-services" target="_blank">Azure Cognitive Services - Machine learning and AI services</a>
    </li>
    <li>
        <a href="https://www.twilio.com/" target="_blank">Twilio - SMS &amp; SMTP service</a>
    </li>
    <li>
        <a href="https://github.com/SpeakingInBits/APIProjects" target="_blank">Other APIs</a>
    </li>
</ul>

<h3>Machine learning and AI</h3>
<ul>
    <li>
        <a href="https://youtu.be/-4RBWACdHLU" target="_blank">Amazon Go</a>
    </li>
    <li>
        <a href="https://www.donkeycar.com/" target="_blank">DonkeyCar - Self driving RC Car</a>
    </li>
</ul>