@page "/ProgramProjects"

<PageTitle>Projects | CPTC Programming</PageTitle>

<h3>Program Projects</h3>
<hr />

<h4>Client Projects</h4>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="images/Projects/PC2-logo.jpg" class="img-fluid rounded-start" alt="PC2 Logo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">PC2</h5>
        <p class="card-text">Website for Pierce County Coalition of Developmental Disabilities</p>
        <p class="card-text"><small class="text-muted"><a href="https://github.com/SpeakingInBits/PC2" target="_blank">GitHub Repo</a></small></p>
      </div>
    </div>
  </div>
</div>

<h4>Misc. Projects</h4>
<p>Coming Soon...</p>