@page "/Schedule"

<PageTitle>Master Schedule | CPTC Programming</PageTitle>

<h3>Schedule</h3>
<hr />

<h2>Master Schedule following AAT Degree</h2>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #1 - Fall/Spring
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 101 - Programming Fundamentals</td>
        <td>Mon/Wed 1:00PM - 3:00PM</td>
    </tr>
    <tr>
        <td>CPW 117 - Web Design Principles</td>
        <td>ONLINE</td>
    </tr>
    <tr>
        <td>CPW 151 - Principles of Relational Databases</td>
        <td>Wed 9:30AM - 12:00PM</td>
    </tr>
</table>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #2 - Winter/Summer
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 142 - Java Object-Oriented Programming I</td>
        <td>Tues/Thurs 10:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 224 - Introduction to JavaScript</td>
        <td>Wed 9:30AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 209 - Advanced Database Programming</td>
        <td>Tuesday 1:00PM - 3:30PM</td>
    </tr>
</table>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #3 - Fall/Spring
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 143 - Java Object-Oriented Programming II</td>
        <td>Mon/Wed 10:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 115 - .NET Programming</td>
        <td>Tuesday 9:30AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 204 - Advanced JavaScript</td>
        <td>Thurs 9:30AM - 12:00PM</td>
    </tr>
</table>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #4 - Winter/Summer
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 245 - Data and Logic Structures</td>
        <td>Mon/Wed 10:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 211 - Advanced .NET Programming</td>
        <td>Wed 1:00PM - 3:00PM</td>
    </tr>
    <tr>
        <td>CPW 219 - .NET Web Programming</td>
        <td>Thurs 9:30AM - 12:00PM</td>
    </tr>
</table>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #5 - Fall/Spring
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 241 - Programming Practicum</td>
        <td>Tues/Thurs 10:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 253 - Phone Programming</td>
        <td>Tues/Thurs 1:00PM - 3:00PM</td>
    </tr>
    <tr>
        <td>CPW 221 - Advanced .NET Web Programming</td>
        <td>Monday 1:00PM - 3:30PM</td>
    </tr>
</table>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #6 - Winter/Summer
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 207 - Object-Oriented Analysis & Design</td>
        <td>Mon/Wed 1:00PM - 3:00PM</td>
    </tr>
    <tr>
        <td>CPW 226 - Portfolio</td>
        <td>Monday 9:30AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 228 - C++</td>
        <td>Tues/Thurs 1:00PM - 3:30PM</td>
    </tr>
</table>
@code {

}
