@page "/Transfer"

<PageTitle>Transfer Options | CPTC Programming</PageTitle>

<h2>Transfer</h2>
<hr />

<h3>Green River College</h3>
<p>
    Green River has a daytime 
    <a href="https://www.greenriver.edu/students/academics/degrees-programs/bachelor-of-applied-science/bachelors-in-software-development/" target="_blank">Bachelor's Program in Software Development</a>
</p>

<h3>Renton Technical College</h3>
<p>
    Renton Tech has a nighttime <a href="https://www.rtc.edu/application-development-bas" target="_blank">Bachelor's program in Application Development</a>
</p>

<h3>WGU</h3>
<p>
    WGU is fully online and has a few <a href="https://www.wgu.edu/online-it-degrees.html" target="_blank">degree options</a>
</p>

@code {

}
