@page "/Employers"

<h3>Employers</h3>
<hr />

<h2>Some Employers of CPTC Computer Programming Graduates</h2>
<hr>

<h3>State Agencies</h3>
<ul>
    <li>Washington State Department of Revenue</li>
    <li>Washington State Department of Health</li>
    <li>Washington State Department of Ecology</li>
    <li>Washington State Department of Transportation</li>
    <li>Washington State Employment Security Department</li>
    <li>Puget Sound Clean Air Agency</li>
    <li>Seattle Information Technology</li>
    <li>Clover Park Technical College</li>
</ul>

<h3>Private Sector</h3>
<ul>
    <li>Amazon</li>
    <li>Symetra</li>
    <li>Intel</li>
    <li>MultiCare</li>
    <li>Costco</li>
    <li>Funko</li>
    <li>SiteCrafting</li>
    <li>DaVita</li>
    <li>CDK Global</li>
    <li>Sand Castle Web Design &amp; Development</li>
    <li>CloudPWR</li>
    <li>Hitachi Consulting</li>
    <li>Amplify Consulting Partners Inc</li>
    <li>EZ-Access</li>
    <li>Evergreen Note Servicing</li>
    <li>Sefnco Communications</li>
    <li>Pioneer Technologies</li>
    <li>Gensco Inc.</li>
    <li>Smart Deploy</li>
    <li>QuoteWizard</li>
    <li>Tyler Technologies</li>
    <li>Avue Technologies Corporation</li>
    <li>Accretive Technology Group</li>
    <li>Green PC</li>
</ul>

<p>
    Companies large and small need qualified software developers.
    Some students prefer to work at smaller companies or start-ups while others may
    prefer a larger corporation.<br>
    Students find an atmosphere and a culture that suits their needs.
    There is also the freelance route but the majority of our students work at established companies.
</p>

@code {

}
