@page "/FAQ"

<h3>FAQ</h3>

<div class="questions">
    <div class="question"><span class="oi oi-person"></span>Salary?</div>
    <div class="answer">
        Our typical graduates with our AAT degree and no industry experience usually start between 40k and 75k.
        The median wage for CPW grads is $21.27 (Most recent data is 2015 - 2018).
        Salary is wide ranging and depends on factors such as student programming skills, location of employment,
        and interviewing skills. Salaries go up after gaining industry experience.
    </div>
    <div class="question"><span class="oi oi-person"></span>Cost?</div>
    <div class="answer">
        The total cost for a Washington State resident for the AAT degree is about $13,000. 
        This includes tuition, fees, and books. 
        Check out the official <a target="_blank" href="http://www.cptc.edu/fee-lists/web-development-net">CPTC fee list</a>
        for up-to-date information.<br />
        You will not need to purchase any software for our program. It can either be obtained for free or will 
        be provided to you by the program faculty
    </div>
    <div class="question"><span class="oi oi-person"></span>Program Length?</div>
    <div class="answer">
        It takes 6 - 7 quarters. 6 quarters of programming classes (3 classes each quarter) plus an additional 18 
        credits of general education courses. Our program also expects students to attend Summer quarter
    </div>
    <div class="question"><span class="oi oi-person"></span>Course Delivery?</div>
    <div class="answer">
        During COVID our courses are delivered online and we utilize the Canvas LMS (learning management system) 
        to keep track of grades, assignments, resources, etc. 
        We use tools like Zoom, Discord, and VS Code Live Share to create a great remote experience and deliver
        curriculum just as well as we would on campus.
    </div>
    <div class="question"><span class="oi oi-person"></span>Employment Opportunities?</div>
    <div class="answer">
        For Computer Programming students there are many different opportunities in the industry. 
        Our typical graduate usually starts out as a Web Developer using .NET technologies.
        Some job titles include
        <ul>
            <li>Software Developer (C# or Java)</li>
            <li>Software Developer in Test</li>
            <li>ASP.NET Developer</li>
        </ul>
    </div>
    <div class="question"><span class="oi oi-person"></span>Curriculum?</div>
    <div class="answer">
        Our program covers many topics including: building modern responsive websites, 
        building desktop applications, software security, object-oriented programming, 
        phone app development, and more, all while gaining hands on experience using professional tools.
    </div>
    <div class="question"><span class="oi oi-person"></span>Is this for me?</div>
    <div class="answer">
        If you like technology and computers in general then programming is definitely an option to consider. 
        You don't have to be a math whiz but students who do well in math typically grasp programming quicker. 
        Our industry also changes frequently so this field is great for people who like to learn continously.
    </div>
</div>


@code {

}
