@page "/Instructors"

<h3>Instructors</h3>

<h2>Instructor Contact Information</h2>
<div class="row">
    <div class="col-md">
        <p>
            <img height="150" width="150" alt="Joseph Ortiz" src="images/jortiz.jpg" class="img-thumbnail"><br><br>
            <span class="oi oi-person"></span> Joseph Ortiz<br>
            <span class="oi oi-envelope-closed"></span> Email: <a href="mailto:Joseph.Ortiz@cptc.edu">Joseph.Ortiz@cptc.edu</a><br>
            <span class="oi oi-envelope-closed"></span> <a target="_blank" href="https://discord.gg/YWKGGjC">Discord Q&amp;A Server</a><br>

            Joe specializes in creating websites using .NET technologies and relational databases. His focus is
            to prepare students for careers in .NET Development.
        </p>
    </div>
    <div class="col-md">
        <p>
            <img height="150" width="150" alt="Kenneth Meerdink" src="images/kmeerdink.jpg" class="img-thumbnail"><br><br>
            <span class="oi oi-person"></span> Kenneth Meerdink<br />
            <span class="oi oi-envelope-closed"></span> Email: <a href="mailto:Kenneth.Meerdink@cptc.edu">Kenneth.Meerdink@cptc.edu</a><br><br>

            Ken specializes in Java and C++ programming. His focus is to train students to think like programmers and
            develop their logic skills.
        </p>
    </div>
</div>

@code {

}
