@page "/Links"

<h2>Links</h2>

<h3>Gaming</h3>
<ul>
    <li>Links...</li>
</ul>

<h3>API's and Services</h3>
<ul>
    <li>Links...</li>
</ul>

<h3>Machine learning and AI</h3>
<ul>
    <li>Links...</li>
</ul>

@code {

}
