@page "/Schedule"

<h3>Schedule</h3>
<hr />

<h2>Master Schedule following AAT Degree</h2>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #1 - Fall/Spring
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 101</td>
        <td>Mon/Wed 1:00PM - 4:00PM</td>
    </tr>
    <tr>
        <td>CPW 118</td>
        <td>Friday 9:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 150</td>
        <td>Mon/Wed 9:00AM - 12:00PM</td>
    </tr>
</table>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #2 - Winter/Summer
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 142</td>
        <td>Tues/Thurs 9:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 223</td>
        <td>Mon/Wed 9:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 210</td>
        <td>Tues/Thurs 1:00PM - 4:00PM</td>
    </tr>
</table>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #3 - Fall/Spring
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 143</td>
        <td>Mon/Wed 9:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 116</td>
        <td>Tues/Thurs 9:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 203</td>
        <td>Tues/Thurs 1:00PM - 4:00PM</td>
    </tr>
</table>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #4 - Winter/Summer
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 245</td>
        <td>Mon/Wed 9:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 212</td>
        <td>Mon/Wed 1:00PM - 4:00PM</td>
    </tr>
    <tr>
        <td>CPW 213</td>
        <td>Tues/Thurs 9:00AM - 12:00PM</td>
    </tr>
</table>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #5 - Fall/Spring
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 240</td>
        <td>Tues/Thurs 9:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 252</td>
        <td>Tues/Thurs 1:00PM - 4:00PM</td>
    </tr>
    <tr>
        <td>CPW 215</td>
        <td>Mon/Wed 1:00PM - 4:00PM</td>
    </tr>
</table>
<table class="table table-sm table-striped table-hover">
    <caption class="schedule">
        Quarter #6 - Winter/Summer
    </caption>
    <thead class="thead-light">
        <tr>
            <th>Course</th>
            <th>Days/Time</th>
        </tr>
    </thead>
    <tr>
        <td>CPW 205</td>
        <td>Mon/Wed 1:00PM - 4:00PM</td>
    </tr>
    <tr>
        <td>CPW 217</td>
        <td>Friday 9:00AM - 12:00PM</td>
    </tr>
    <tr>
        <td>CPW 218</td>
        <td>Tues/Thurs 1:00PM - 4:00PM</td>
    </tr>
</table>
@code {

}
