@page "/Transfer"

<h2>Transfer</h2>

<h3>Green River College</h3>
<p>
    Program info will be uploaded...
</p>

<h3>Renton Technical College</h3>
<p>
    Program info will be uploaded...
</p>

<h3>WGU</h3>
<p>
    Program info will be uploaded...
</p>

@code {

}
