<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CPTC Programming</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FAQ">
                <span class="oi oi-question-mark" aria-hidden="true"></span> F.A.Q.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LangsAndTools">
                <span class="oi oi-wrench" aria-hidden="true"></span>Languages &amp; Tools
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Instructors">
                <span class="oi oi-person" aria-hidden="true"></span> Instructors
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Schedule">
                <span class="oi oi-calendar" aria-hidden="true"></span> Schedule
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Transfer">
                <span class="oi oi-arrow-thick-right" aria-hidden="true"></span> Transfer Options
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Employers">
                <span class="oi oi-people" aria-hidden="true"></span> Employers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProgramProjects">
                <span class="oi oi-project" aria-hidden="true"></span> CPW Projects
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Links">
                <span class="oi oi-link-intact" aria-hidden="true"></span> Interesting Links
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
